.tableContainer {
    display:table;
}
.tableRow {
    display:table-row;
}

.bodyContainer{
    margin:64px;
}

.centerContainer {
    display:flex; 
    justify-content:center;
    align-items:center;
    height:calc(100% - 48px);
}

.pfpBox {
    display:flex;
    flex-wrap:wrap;
    /* width:500px; */
    height:64px;
}

.mainContentSection{
    display:inline;
}

.gridSection{
    position:relative; 
    background-size:cover; 
    background-image: url('../img/grid.png');
    width:100%;
    max-width:800px;
}
.gridSection::after{
    content:'';
    display:block;
    padding-top:100%;
}

.gridContainer{
    position: absolute;
    top: 0;
    left: 0;
    padding:32px;
    height: 100%;
    width: 100%;
}

.gridImage{
    width:64px; 
    height:64px;
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:     translate(-50%, -50%);
    -ms-transform:      translate(-50%, -50%);
    -o-transform:       translate(-50%, -50%);
    transform:          translate(-50%, -50%);
}

.dragList{
    position:relative;
    width:64px;
    height:64px;
    z-index: 999; 
}
.dragList:hover{
    cursor:pointer;
}

.dragBox{
    position:absolute;
    width:0;
    height:0;
    z-index: 999; 
}


.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
}

main {
    grid-column: 1 / span 3;
}
  
aside {
    grid-column: span 2;
}
  
@media (max-width: 700px) {
    main,
    aside {
        grid-column: 1 / span 5;
    }
}