html, body{
    width:auto;
}

.tableContainer {
    display:table;
}
.tableRow {
    display:table-row;
}

.bodyContainer{
    margin:64px;
}

.gameContainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;  
    flex-direction: row;
    
    justify-content: space-around;
}
.pfpBox {
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
}

.rightSide{
    display:flex;
    justify-content: center;
    overflow-y: scroll;
    max-height:700px;
    max-width:401px;
}


.gridSection{
    font-family: 'Roboto', sans-serif;
    /* font-weight: 300; */
    position:relative; 
    margin:64px;
    width:700px;
    max-width:700px;
    max-height:700px;
    min-width:700px;
    min-height:700px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align:center;
}
.gridSection::after{
    content:'';
    display:block;
    /* padding-top:100%; */
}

.titleTop{
    position:absolute;
    margin:0;
    padding-bottom: 8px;
    left:50%;
    transform: translate(-50%, -100%);
    z-index: 9999;
}
.titleBottom{
    position:absolute;
    margin:0;
    padding-top: 8px;
    left:50%;
    top:100%;
    transform: translate(-50%, 0);
    z-index: 9999;
}
.titleLeft{
    position:absolute;
    margin:0;
    padding-right: 8px;
    left:0%;
    top:50%;
    z-index: 9999;
    transform: translate(-100%, -50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -10px;
}
.titleRight{
    position:absolute;
    margin:0;
    padding-left: 8px;
    left:100%;
    top:50%;
    z-index: 9999;
    /* transform: translate(-100%, 0%); */

    transform: translate(0, -50%); 
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -10px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.gridImage{
    width:64px; 
    height:64px;
}

.offsetImage {
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:     translate(-50%, -50%);
    -ms-transform:      translate(-50%, -50%);
    -o-transform:       translate(-50%, -50%);
    transform:          translate(-50%, -50%);
}

.dragList{
    position:relative;
    width:64px;
    height:64px;
    z-index: 999; 
}
.dragList:hover{
    cursor:pointer;
}

.dragBox{
    position:absolute;
    width:0;
    height:0;
    z-index: 999; 
}

@media screen and (max-width: 600px) {

    .bodyContainer{
        margin:8px;
    }

    .gameContainer{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .gridSection{
        width:unset;
        max-width:unset;
        max-height:unset;
        min-width:unset;
        min-height:unset;
        flex-shrink: 1;
        flex-grow: 1;
    }
    .gridSection::after{
        content:'';
        display:block;
        padding-top:0;
    }
}