{% extends "base.html" %}
{% block title %}grid{% endblock %}

{% block headcontent %}
    <script type=text/javascript src="{{
        url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='jquery-ui.js') }}"></script>

    <script>
        $(function() {
            $(".pfp").draggable();
        });
    </script>
{% endblock %}

{% block containercontent %}

	<div class='centerContainer'>

		<!-- <image src={{ url_for('static', filename='img/grid.png') }}> </image> -->
		<form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by tweet" name="book">
            <button type="submit">Submit<i class="fa fa-search"></i>
            </button>
        </form>
        <div class='pfpBox'>
            {% for pfp_url in pfp_urls %}
                <div class='pfp'>
                    <image id="draggable" src={{ pfp_url }}></image>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

